<main class="jumbotron">
  <h1>L O S T</h1>
  <small>Crowdsource lost & found on PTV (beta)</small>
</main>

<p>
  <%= link_to "Lost an item?", lost_path, class: "btn btn-large btn-default" %>
</p>
<p>
  <a class="btn btn-large btn-default" href="/found.html">Found an item?</a>
</p>
<hr>

<footer>
  <a href="/about.html">About Us</a>
  |
  <a href="/report.html">Submit a Lost Property Report</a>
</footer>
