<div class="jumbotron">
  <small>Crowdsource lost & found on PTV (beta)</small>
  <img src="<%= asset_path "logo-650x150.png" %>" alt="LOST+FOUND" width="240"/>
</div>

<p>
  <%= link_to "Lost an item?", lost_path, class: "btn btn-large btn-lost" %>
</p>
<p>
  <%= link_to "Found an item?", found_path, class: "btn btn-large btn-found" %>
</p>