<main class="jumbotron">
   <p>Where did you find it?</p>
  <p class="get-location">
  	<button class="btn btn-large"><i class="glyphicon glyphicon-map-marker"></i>  USE MY LOCATION</button>
	</p>
</main>

<div class="location-search">
 <div class="search-location input-group">
    <input type="text" class="form-control" placeholder="Enter location">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">SEARCH</button>
    </span>
  </div><!-- /input-group -->
   <small>For best result, enter the street name where the tram stop is</small>
</div>

<hr>

<footer>
	<a href="/about.html">About Us</a> |
	<a href="/report.html">Submit a Lost Property Report</a>
</footer>
