<div class="jumbotron">
  <a href="/" class="back-home"><i class="glyphicon glyphicon-chevron-left"></i> HOME </a>
  <h1>Which tram?</h1>
</div>

<div>
  <p>Tell us where you got off<br/>
  someone might have found your item</p>
</div>

<div class="transport">
 <% @tram_stops.each do |stop| %>
    <div class="tram-stop">
      <h4><%= Stop.stop_name(stop) %></h4>
      <% if Rails.env == "development" %>
<!--         <h3 style="color:blue"><%= stop['result']['transport_type'] %></h3>
        <h3 style="color:red"><%= stop['result']['stop_id'] %></h3> -->
      <% end %>
      <% Stop.uniq_tram_lines(stop).each do |line| %>
        <%= button_tag "Tram " + Stop.info(line), class: 'tram-line btn btn-large' %>
        <div class="last-five-trams">
          <p><b>How long ago did you get off?</b></p>
          <ul class="list-group">
            <li>10 minutes</li>
            <li>30 minutes</li>
            <li>1 hour</li>
            <li class="earlier"><a href="/owners/new">I got off earlier...</a></li>
          </ul>
          </div>
      <% end %>
    </div>
  <% end %>
  <br>
  <small>Can't find your tram? Try expanding or refining your search</small>
  <div class="refine-location input-group">
    <input type="text" class="form-control" placeholder="Enter location">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Search</button>
    </span>
  </div>
</div>