<div class="jumbotron">
  <a href="/" class="back-home"><i class="glyphicon glyphicon-chevron-left"></i> HOME </a>
  <h1>Missing</h1>
</div>

<div class="item-list">
<% @items.each do |item| %>
  <div class="item">
    <h4><%= item.name %></h4>
    <p><%= item.description %></p>
    <img src="http://placehold.it/100x100" alt="Photo" />
  </div>
<% end %>
</div>

<div class="add-lost-item">
	<p>If you cannot find a matching item,<br/>please add a description of your finding</p>
	<%= link_to "ADD A NEW ITEM", new_reporter_path, class: "btn btn-lost" %>
</div>