<div class="jumbotron">
  <a href="/" class="back-home"><i class="glyphicon glyphicon-chevron-left"></i> HOME </a>
  <h1>Recently Found</h1>
</div>

<div class="item-list">
<% @items.each do |item| %>
  <div class="item">
    <h4><%= item.name %></h4>
    <p><%= item.description %></p>
    <img src="http://lorempixel.com/100/100/technics/" alt="Photo" />
  </div>
<% end %>
</div>

<div class="add-lost-item">
	<p>Can't find your item?<br/>Give us a description of your item</p>
  <%= link_to "ADD A LOST ITEM", new_owner_path, class: "btn btn-lost" %>
</div>
