<div class="jumbotron">
  <a href="/" class="back-home"><i class="glyphicon glyphicon-chevron-left"></i> HOME </a>
  <h1>Recently Found</h1>
</div>

<% @items.each do |item| %>
  <div>
    <h4><%= item.name %></h4>
    <h4><%= item.description %></h4>
  </div>
<% end %>

Can't find your item?