// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

/* Bootstrap reset */
textarea, input, a, button, :focus { outline: none; }
a, a:visited, a:hover {text-decoration: none;}

body {
  background: #fff;
  text-align: center;
  color: #11143F;
}

html, body {
  font-family: 'Cabin', sans-serif;
}

h1, h2, h3 {
  font-family: 'Droid Sans', sans-serif;
}

a, a:hover, a:focus {
  color: #11143F;
}

body {
  background-color: red !important;
}
