// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin);

/* Bootstrap reset */
textarea, input, a, button, :focus { outline: none; }
a, a:visited, a:hover {text-decoration: none;}

body {
  background: #d4d4d4 url("http://subtlepatterns.com//patterns/geometry.png");
  text-align: center;
  color: #11143F;
}

html, body {
  font-family: 'Cabin', sans-serif;
}

h1, h2, h3 {
  font-family: 'Droid Sans', sans-serif;
}

a, a:hover, a:focus {
  color: #11143F;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.visitors .jumbotron {
  background: #eaf6f6 asset_url("banner.png") no-repeat center top;
  background-size: contain;
  height: 25em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1em;

  img, small {
    align-self: center;
    color: #98A0A7;
  }
}

.btn-lost, .btn-found,
.btn-lost:hover, .btn-found:hover {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 2em;
  width: 75%;
}

.btn-lost {
  background-color: #A61E27;
}

.btn-found {
  background-color: #F3C84B;
}

.lost .jumbotron {
  background-color: #A61E27;
  color: #FFF;
}

.tram-stop button {
  clear:both;
  display: block;
  margin: 0.75em auto;
  padding: 0.5em;
  width: 100%;
}

.search-location {
  margin: 1em;
}

.refine-location {
  margin: 0.5em 1em 1em;
}

.tram-stop {
  padding: 1em;
  margin: 1em;
  border: 5px solid #eee;
  border-radius: 3px;
  background: rgba(255,255,255,0.75);
}

.tram-stop button:hover {
  background-color: #FFF;
}

.last-five-trams {
  margin-top: -0.95em;
  background-color: #eee;
  padding: 2em 1em 0.5em;
  border-top: 1px solid #ccc;
}

.last-five-trams li {
  position: relative;
  display: inline-block;
  padding: 0.75em;
  margin: 0.25em;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.last-five-trams li.earlier {
  background-color: transparent;
  border: transparent;
  color: #aaa;
}
