/*
https://color.adobe.com/Red-Purple-Mustard-color-theme-6438222/

$red : #A61B26;
$purple : #030C40;
$yellow : #F2C84B;
$light-grey : #EAF5F5;
$dark-grey : #99A1A7;
*/

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin);

/* Bootstrap reset */
textarea, input, a, button, :focus { outline: none; }
a, a:visited, a:hover {text-decoration: none;}

body {
  background: #fff;
  text-align: center;
  color: #11143F;
  margin-bottom: 5em;
}

html, body {
  font-family: 'Cabin', sans-serif;
}

h1, h2, h3 {
  font-family: 'Droid Sans', sans-serif;
}

a, a:hover, a:focus {
  color: #11143F;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

a.back-home {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 2em;
  position: absolute;
  top: 0;
  left: 0;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.visitors .jumbotron {
  background: #eaf6f6 asset_url("banner.png") no-repeat center top;
  background-size: contain;
  height: 25em;
  padding-bottom: 1em;

  img, small {
    align-self: center;
    color: #98A0A7;
  }
}

@media (min-width: 420px) {
  .visitors .jumbotron {
    background: #eaf6f6 asset_url("banner-subtle.png") no-repeat center top;
    background-size: cover;
  }
}

.btn-lost, .btn-found,
.btn-lost:hover, .btn-found:hover {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 2em;
  width: 75%;
}

.btn-lost {
  background-color: #A61E27;
}

.btn-found {
  background-color: #F3C84B;
  color: #11143F;
}

body.loading:before {
  display: block;
  height: 100%;
  width: 100%;
  content: "searching...";
  background: rgba(166,27,38,0.85) asset_url("loading.svg") no-repeat center 20%;
  position: absolute;
  z-index: 100;
  padding-top: 60%;
  font-size: 2.5em;
  color: rgba(255,255,255,0.85);
}

.lost {
  .jumbotron {
    background: #A61E27 asset_url("tram-translucent-icon.png") no-repeat left top;
    background-size: contain;
    color: #FFF;
    height: 15em;
    align-items: flex-end;
    padding: 2em;

    p {
      font-size: 26px;
    }
  }
  .form-control {
    border: 3px solid #D4EDF3;
  }
  .get-location button {
    background-color: #F3C84B;
    color: #11143F;
    letter-spacing: 1px;
    border-radius: 8px;
  }
}


.found {
  .jumbotron {
    background: #F3C84B asset_url("tram-translucent-yellow.png") no-repeat right top;
    background-size: contain;
    color: #11143F;
    height: 15em;
    align-items: flex-start;
    padding: 2em;
  }
  .get-location button {
    background-color: #A61B26;
    color: #FFF;
    letter-spacing: 1px;
    border-radius: 8px;
  }
  a.back-home {
    color: #11143F;
  }
}

/* The location search panel is common to both search and found*/
.location-search {
  font-size: 1.25em;
  padding: 2em 1.5em 8em;
  margin-top: -1.75em;
  background: #EAF6F5 asset_url("lost-decor.png") bottom right no-repeat;
  background-size: contain;
}
@media (min-width: 420px) {
  .location-search {
      background-size: 40%;
      background-position: bottom left;
  }
}
.search-location input {
  border: 3px solid #D4EDF3;
}
.search-location button {
  border: 3px solid #D4EDF3;
  padding: 4px 14px;
  background-color: #D4EDF3;
}

/* Select tram*/
.stops {
  .jumbotron {
    color: #FFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030c40+0,a61b26+100 */
    background: #030c40; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #030c40 0%, #a61b26 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#030c40), color-stop(100%,#a61b26)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* IE10+ */
    background: linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030c40', endColorstr='#a61b26',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .refine-location input {
    border: 3px solid #D4EDF3;
  }
  .refine-location button {
    border: 3px solid #D4EDF3;
    padding: 4px 14px;
    background-color: #D4EDF3;
  }
}
.search-location {
  margin: 1em;
}

.refine-location {
  margin: 0.5em 1em 1em;
}

.tram-stop {
  padding: 1em 1.5em;
  margin: 1em;
  border: 5px solid #D4EDF3;
  border-radius: 3px;
  background: #EAF5F5;
}

.tram-stop button {
  clear:both;
  display: block;
  margin: 0.75em auto;
  padding: 0.5em;
  width: 100%;
  border: 1px solid #B3E1E8;
  background-color: #D4EDF3;
}

.tram-stop button:hover {
}

.last-five-trams {
  margin-top: -0.95em;
  background-color: #FFF;
  padding: 1em 0.5em 0.5em;
  border-top: 1px solid #B3E1E8;
  margin-bottom: 2em;
  display: none;
}

.last-five-trams li {
  position: relative;
  display: inline-block;
  padding: 0.75em;
  margin: 0.25em;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.last-five-trams li.earlier {
  background-color: transparent;
  border: transparent;
  padding: 0 2em;

  a {
    color: #99A1A7;
  }
}

/* Submit Lost Property Report */
.users {
  .jumbotron {
    color: #FFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030c40+0,a61b26+100 */
    background: #030c40; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #030c40 0%, #a61b26 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#030c40), color-stop(100%,#a61b26)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* IE10+ */
    background: linear-gradient(45deg,  #030c40 0%,#a61b26 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030c40', endColorstr='#a61b26',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .form-lost-property {
    padding: 1.5em 2.5em 1em;
    background-color: #EAF5F5;
    margin-top: 2em;
    & > * {
      margin-bottom: 1em;
    }
    .form-contol {
      box-shadow: none;
      -webkit-transition: none;
      transition: none;
    }
  }
  .form-disclaimer {
    background-color: #F2C84B;
    padding: 1.5em 2.5em;
    margin-bottom: -2em;
    margin-top: 2em;
  }
  h4 {
    padding: 0em 2.5em;
  }
}

/* Footer */
footer {
  padding: 2em;
}
